{% extends "./layout/layout.html" %} {% block content %}
<main>
  <section class="banner py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light banner-text">高价回收</h1>
        <p class="lead banner-text">
          光伏组件回收，光伏回收，太阳能板回收，太阳能组件回收，破碎太阳能板回收，电池片回收，逆变器回收，常年现金高价回收光伏电站，进口/国产原生硅，太阳能电池片，单晶电池片，多晶电池片。
        </p>
        <p>
          <a href="tel:+15195222665" class="btn btn-primary my-2">电话联系</a>
          <button
            type="button"
            class="btn btn-secondary btn-success my-2"
            data-bs-container="body"
            data-bs-toggle="popover"
            data-bs-placement="top"
            data-bs-html="true"
            data-bs-content='<div class="ecode"><img src="../public/images/wechat1.jpeg" alt="" srcset=""></div>'
          >
            微信联系
          </button>
        </p>
      </div>
    </div>
  </section>

  <div class="album py-5 bg-light">
    <div class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-3">
        {% for item in list %}
        <div class="col">
          <a href="/product/{{item.product_id}}">
            <div class="card shadow-sm">
              <img
                class="product-image"
                src="../public/images/spider/{{item.product_id}}.jpg"
                alt=""
                srcset=""
              />
              <div class="card-body">
                <p class="text-center card-title text-dark text-no-decoration">
                  {{item.name}}
                </p>
              </div>
            </div>
          </a>
        </div>
        {% endfor %}
      </div>
      <nav aria-label="navigation" class="navigation">
        <ul class="pagination">
          <li class="page-item {% if page <= 1 %} disabled {% endif %}">
            <a
              class="page-link"
              href="?page={{page - 1}}"
              aria-label="Previous"
            >
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
          {% for item in range(1, pageSum + 1) %}
          <li class="page-item {% if page == item %} active {% endif %}">
            <a class="page-link" href="?page={{item}}">{{item}}</a>
          </li>
          {% endfor %}
          <li class="page-item {% if page >= pageSum %} disabled {% endif %}">
            <a class="page-link" href="?page={{page + 1}}" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</main>
{% endblock %}
