<header>
  <div class="collapse bg-dark" id="navbarHeader">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 col-md-7 py-4">
          <h4 class="text-white">关于公司</h4>
          <p class="text-muted">
            苏州福莱尔光伏科技有限公司是一家主要从事太阳能系列电站招标，硅材料回收、分类及销售为一体的综合型公司，长期以最佳的合作方式，最合理的回收价格，对太阳能硅片回收，半导体硅片回收，各种ic硅片回收，太阳能电池裸片回收，单晶硅片回收，多晶硅片回收，单晶硅片回收，多晶硅片回收，电池扩散片回收，抛光片回收，光刻片回收，彩片回收，蓝膜片回收，硅晶圆回收，多晶硅回收，单晶硅回收，方形棒回收，圆形棒回收，单晶硅棒回收，多晶硅锭回收，硅块回收，原生多晶回收，单晶边皮回收，多晶边皮回收，顶/侧边皮料回收，硅头尾料回收，锅底料回收，浇铸多晶回收，硅回收，进口/国产原生硅回收，太阳能电池片回收（整片
            碎片）单晶电池片回收，多晶电池片回收（125*125
            156*156）高效/低效太阳能电池片回收，崩边/缺角太阳能电池片回收，太阳能银浆回收，擦银布回收，银浆罐回收，银擦布回收，废银浆回收，太阳能电池板回收，光伏组件回收，光伏焊带回收，各种硅料回收，硅片回收，电池片回收，单晶碎电池片回收，多晶碎电池片回收，扩散碎片回收，电池碎裸片回收，废硅片回收，太阳能电池碎片回收，破碎电池片回收，碎硅片回收等一切硅材料。
            关于价格：对照市场的实价，给予合理的评估，我们拥有先进检测仪器和提炼加工设备，无中间环节，回收价格高。本着“诚实守信、公平公正、互惠互利”为合作原则！在长期经营中赢得了众多客户的信赖，建立了稳固的合作关系，并在业界获得了好的口碑。地区不限，量大小不限，价格保证，信守承诺，一公斤起收，我们可委派专业人员直接上门看货、定价、收购，现金支付，交易更快捷，重酬中介！欢迎各企业单位\个人联系、洽谈、合作！
            【注】硅材料市场价格行情每天都在变，想更多了解最新硅料价格、硅片价格请电话咨询！
          </p>
        </div>
        <div class="col-sm-4 offset-md-1 py-4">
          <h4 class="text-white">经营执照</h4>
          <img
            class="license"
            data-bs-toggle="modal"
            data-bs-target="#license_modal"
            src="../../public/images/license.jpeg"
            alt=""
          />
        </div>
      </div>
    </div>
  </div>
  <div class="navbar navbar-dark bg-dark shadow-sm">
    <div class="container">
      <a href="/" class="navbar-brand d-flex align-items-center">
        <strong>苏州福莱尔光伏科技有限公司</strong>
      </a>
      <span>
        <nav class="nav nav-masthead justify-content-center float-md-end dropup">
          <a
            class="nav-link {% if ctx.path === '/' %} active {% endif %}"
            aria-current="page"
            href="/"
          >
            首页
          </a>
          <a
            class="nav-link {% if ctx.path === '/product' %} active {% endif %}"
            href="/product"
          >
            公司产品
          </a>
          <a
            class="nav-link dropdown-toggle"
            data-bs-toggle="collapse"
            data-bs-target="#navbarHeader"
            aria-controls="navbarHeader"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            关于公司
          </a>
        </nav>
      </span>
    </div>
  </div>
</header>

<div
  class="modal fade"
  id="license_modal"
  tabindex="-1"
  aria-labelledby="license_modal"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered modal-xl">
    <div class="modal-content license_in_modal">
      <img
        class="license_in_modal"
        src="../../public/images/license.jpeg"
        alt=""
      />
    </div>
  </div>
</div>
