<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>苏州福莱尔光伏科技有限公司</title>
    <link rel="stylesheet" href="../../public/bootstrap.min.css" />
    <link rel="stylesheet" href="../../public/style.css" />
  </head>

  <body>
    {% include "./header.html" %} {% block content %}{% endblock %}
    <footer class="text-muted py-5">
      <div class="container">
        <p class="float-end mb-1">
          <a class="back-top" href="javascript:void(0)">返回顶部</a>
        </p>
        <p class="mb-1">site &copy; 苏州福莱尔光伏科技有限公司</p>
        <p class="mb-0">电话：<a href="tel:+15195222665">15195222665</a></p>
      </div>
    </footer>
    <script src="../../public/bootstrap.bundle.min.js"></script>
    <script src="../../public/jquery.min.js"></script>
    <script src="../../public/app.js"></script>
  </body>
</html>
