<header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
  <a
    href="/"
    class="
      d-flex
      align-items-center
      mb-3 mb-md-0
      me-md-auto
      text-dark text-decoration-none
    "
  >
    <svg class="bi me-2" width="40" height="32">
      <use xlink:href="#bootstrap" />
    </svg>
    <span class="fs-4">苏州福莱尔光伏科技有限公司</span>
  </a>

  <ul class="nav nav-pills">
    <li class="nav-item">
      <a href="#" class="nav-link active" aria-current="page">公司首页</a>
    </li>
    <li class="nav-item"><a href="/" class="nav-link">关于公司</a></li>
    <li class="nav-item"><a href="/silicon-wafer/recycle" class="nav-link">硅片回收</a></li>
    <li class="nav-item"><a href="/battery-slice/recycle" class="nav-link">电池片回收</a></li>
    <li class="nav-item"><a href="/contact" class="nav-link">联系方式</a></li>
  </ul>
</header>
